body{
	margin:0;
	background-color:grey;
}
/*header edited here*/
header{
	display: flex;
	justify-content: space-between;
	padding-top: 0%;
	background-color: #0e1726;
	margin-top: -2%;
}
header img{
	width: 200px;
	height: 200px;
}

/*css in navigation bar*/
nav{
	background-color: #0e1726;

}
nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
nav ul li a{
	text-decoration-line: none;
	color: #d1d8e0;
	display: inline-block;
	padding-right: 20px;
	border-radius: 3px;
	margin-right: 20px;
	transition: transform 1s;
	width: 50px;
	height:20px;
}
/*using hover and animation in navigation items*/
nav ul li a:hover{
	background-color:blue;
	transform: scale(1.5);
}
article{
	font-size: 30px;
	
}
/*section part decorated*/
section img{
	width: 400px;
	height: 400px;
	border-radius: 49%;
	display:inline-block;
	margin-right: auto;
	margin-left: 1%;
	display: flex;
	padding: 2%;
	transition: transform 1s;
	
}
section img:hover{
	
	transform: scale(1.3);
}
section{
	display: flex;
	justify-content: space-between;
}
section p{
	font-size: 30px;
	padding: 2%;
}
div h1{
	text-align: center;
	font: 30px;
}
/* article tag edited*/
article {
	display: flex;
	justify-content: space-around;

}
 article div img {
	height: 300px;
	width: 300px;
	padding: 2px;
	transition: transform 1s;
}
 article div img:hover{
	
	transform: scale(1.1);
}

 
/*footer section started.*/
footer{
	padding: 1%;
	background: #0e1726;
	display: flex;
	justify-content: space-around;
	color: white;
}
/* css for responsive design*/
@media(max-width: 800px){
	body{
		width: 100%;
	}
	header{
	 margin-top: -9%;
	 margin-left: -3%;
}
    header div img{
    	width: 200px;
    	height: 200px;
    }


nav ul{
	display: block;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
section{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
section img{
	width: 100px;
	height: 100px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
section p{
	font-size: 10px;
	padding: 2%;
}
article{
	font-size: 25px;
	
}
article div img{
	width: 80px;
	height: 80px;
}
footer{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5%;
	margin-left: -2%;
}
article{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
div img{
	height: 80px;
	width: 80px;
}
