 body{ background: url(back1.jpg);
	/*adding backgroung image in the webpage*/
	/*https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg*/
	margin:0;/*making margin 0*/
	
}
/*header edited here*/
header{
	display: flex;/*displaying content in flex*/
	justify-content: space-between;/*justifying content in flex*/
	padding-top: 0%;/*padding at top*/
	background-color: #0e1726;/*adding backgroung colour to header*/
	margin-top: -2%;/*margin at top*/
} 
/*logo edited*/
header img{
	width: 200px;/*width of image*/
	height: 200px;/*height of image*/
}
/*css in navigation bar*/
nav{
	background-color: #0e1726;/*navigation colour added*/
	margin-top: 7.5%;/*navigation margin*/
}
/*hiding dropdown content*/
nav div{
	display: none;/*hiding dropdown content*/
	content: hidden;
}
nav ul{
	display: flex;/*displyaing flex*/
	justify-content: flex-end;/*justifying content in flex*/
	list-style: none;/*list style set to none*/
	padding-left: 0;/*padding at kleft*/
	padding: 20px;
margin-bottom: 0px;/*margin at bottom*/
}
nav ul a{/*editing hyperlinked content*/
	text-decoration-line: none;
}
nav ul li a{
	text-decoration-line: none;/*text decoration style set to none*/
	color: #d1d8e0;/*adding colour to the text*/
	display: inline-block;/*displaying in block*/
	padding-right: 20px;
	border-radius: 3px;/*managing border radius*/
	margin-right: 20px;
	transition: transform 1s;/*transttion used in navigation bar*/
	width: 50px;
	height:20px;
}
/*using hover and animation in navigation items*/
nav ul li a:hover{
	background-color:blue;/*adding colour when hover*/
	transform: scale(1.5);/*text transform scale*/
}/*css for article used in HTML*/
article{
	font-size: 30px;	
}
/*section part decorated*/
section img{
	/*defining height and width of image*/
	width: 400px;
	height: 400px;
	border-radius: 49%;
	display:inline-block;/*displaying in inline block*/
	margin-right: auto;/*making margin to right auto*/
	margin-left: 1%;
	display: flex;/*displaying in flex left*/
	padding: 2%;
	transition: transform 1s;
}
/* title edited*/
 .contact{
 	text-align: center;/*aligning text to center*/
 } 
 .first{
 	font-size: 18px;/*font size to 18 px for .first*/
 }
 section{
 	margin-left: 25%;/*margin to left for contact page*/
 	margin-right: 25%;/*margin to right for contact page*/
 	display: flex;/*displaying flex content*/
 	justify-content: space-between;/*justifying flex content*/
 	border-style: solid;/*adding border in section*/
 	padding: 2px;/*padding the content*/
 	padding-left: 25px;/*padding left for the content*/
 	border-width: 3px;/*assigning border width*/
 	border-color: #d1d8e0;/*assigning border colour*/
 	padding-right: 25px;
 }
 /*form section edited*/
 article{
 	margin-left: 15%;/*margin to left for contact page*/
 	margin-right: 15%;/*margin to right for contact page*/
 	display: flex;/*displaying flex content*/
 	justify-content: flex-start;/*justifying flex content*/
 	border-style: solid;/*adding border in section*/
 	padding: 2px;/*padding the content*/
 	padding-left: 25px;/*assigning border width*/
 	border-width: 3px;/*assigning border width*/
 	border-color: #d1d8e0;/*assigning border colour*/
 	padding-right: 25px;
}
 /*editing form box*/
 input[type=text]{
 	width: 400px;/*width of the text box*/
 	 padding: 12px 20px; /* adding padding in form textbox.*/
    margin: 8px 0;/* margin for form textbox*/
    display: inline-block;
    border: 1px solid #ccc;/* border for form textbox*/
    border-radius: 4px; /* border radius for form textbox*/
    box-sizing: border-box; /* border sizing for form textbox*/
}
 input[type=Email]{
 	width: 400px;/*width of the email box*/
 	 padding: 12px 20px; /* adding padding in form textbox.*/
    margin: 8px 0;/* margin for form textbox*/
    display: inline-block;
    border: 1px solid #ccc;/* border for form textbox*/
    border-radius: 4px; /* border radius for form textbox*/
    box-sizing: border-box; /* border sizing for form textbox*/
}
/*editing submit button*/
input[type=submit] {
    width: 400px;/*width of the submit box*/
    background-color: #0e1726;/* adding colour to submit button*/
    color: white;/* making submit name white in colour*/
    padding: 14px 20px;/* padding for submit button*/
    margin: 8px 0;/*margin for submit button*/
    border: none;/*border for submit button*/
    border-radius: 4px;/*border raduis for submit button*/
    cursor: pointer; /* changing cursor i=when pointing submit button*/
}
/* image source-https://www.bielefeldjasicher.de/images/speech.png*/
 article div img{/*adding css to picture in form*/
	width: 400px;/*width of the image*/
	padding: 110px;/*padding set to the images*/
}
iframe{/*setting css to the google map*/
	width: 80%;/*width of map in percent*/
	padding: 20px;/*padding for the map*/
	margin-left: 2%;/*margin left for the map*/
}
/*footer section started.*/
footer{
	padding: 1%;/*footer padding*/
	background: #0e1726;/*footer backgroung colour*/
	display: flex;/*displaying content in flex*/
	justify-content: space-around;/*justifying flex content*/
	color: white;/*text colour to white*/
}
/* css for responsive design*/
@media(max-width: 800px){
body{
	width:100%;/*body width to 100%*/
}
header{/*margin for the header in handheld*/
    margin-top: -9%;/*defining margin at top*/
    margin-left: -3%;
}
nav ul{
	display: none;/*hidding content of navigation*/
	list-style: none;/*listing style to none*/
	padding-left: 0;
	padding: 20px;/*padding on navigation*/
    margin-bottom: 0px;/*margin at the bottom*/
}
/*editing dropdown content */
nav {
	margin-top: 35%;/*margin at the top*/
	margin-right: 20%;/*margin at the right*/
}
nav div{
    display: contents;/*displaying hidden content*/
}
nav div img{/*setting new css to div image*/
	height: 30px;/*height for menu*/
	width: 30px;/*width for menu*/
}
nav ul a{
	text-decoration-line: none;/*setting decoration to none*/
	padding: 20px;/*padding for dropdown */
	}
nav div a{
text-decoration-line: none;
	color: #d1d8e0;	
    text-decoration: none;
    display: block;
    font-size: 22px;
    padding: 3%;/*padding set to 3%*/
}
.dropcontent {
	/*making content non visible unkess hover*/
    display: none;
    position: absolute;
    /*keeing position absolute*/
    background-color: #0e1726;/*dropdown backgroung colour*/
    min-width: 70px;/*min width for dropdown*/
    width: 100%;/*making width 100%*/
    min-height: 150px;/*min height for dropdown*/
    /*addding shadow to the box when hover*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);/*adding css shadow */
    padding: 21px;/*dropdown content padding*/
}
.dropcontent a:hover {background-color: grey;}
/*edition dropdown when hover*/
.dropdown:hover .dropcontent {
    display: block;/*displaying content in block*/
}
.dropdown {
    position: relative;/*position set to relative*/
    display: inline-block;/*content displayed as inline block*/
}
/*dropdown content editing completion*/
.contact{
	text-align: left;/*aligning text to left*/
 	padding-left: 10px;/*padding for contact*/ 
 }
section{
    display: flex;/*displaying content in flex*/
 	flex-direction: column;/*flex direction to cloumn*/
 	flex-wrap: wrap;
 	width: 76%;/*width set to 76%*/
 	border-style: solid;/*adding border in section*/
 	border-width: 3px;/*setting border width*/
 	border-color: #d1d8e0;/*setting border colour*/
 	margin: auto;/*margin set to auto*/
 }
 article{
 	display: flex;/*displaying content in flex*/
 	flex-direction: column;/*flex direction to cloumn*/
 	flex-wrap: wrap;
 	border-style: solid;/*adding border in section*/
 	border-width: 3px;/*setting border width*/
 	border-color: #d1d8e0;/*setting border colour*/
 	margin: 1%;/*margin set to 1%*/
 }
 article div img{
	content: hidden;/*hiding image for handheld*/
	display: none;
}
label{
	font-size: 20px;/*making font size 20px*/
}
 input[type=text]{

 	width: 200px;/*new width for text */
}
input[type=Email]{
 	width: 200px;/*new width for email */
}
input[type=submit] {
    width: 200px;/*new width for submit */
}
textarea{
	width: 200px;/*new width for textarea */
	height: 100px;/*new height for textarea */
}
iframe{/*css for google api map*/
	margin: auto;/*margin set to auto*/
	padding: 2%;/*padding for map*/
	width: 95%;/*width set for map*/
	height: 400px;/*height of map*/
}
footer{
	padding: 5%;/*padding for footer*/
	display:flex;/*displaying content in flex*/
	flex-direction: column;/*flex direction to the column*/
	flex-wrap: wrap;
}
