body{
	background-color:grey;
	margin:0;
}
/*header edited here*/
header{
	display: flex;
	justify-content: space-between;
	padding-top: 0%;
	background-color: #0e1726;
	margin-top: -2%;
}
header div img{
	width: 200px;
	height: 200px;
}

/*css in navigation bar*/
nav{
	background-color: #0e1726;
	margin-top: 7.5%;

}
nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
nav ul li a{
	text-decoration-line: none;
	color: #d1d8e0;
	display: inline-block;
	padding-right: 20px;
	border-radius: 3px;
	margin-right: 20px;
	transition: transform 1s;
	width: 50px;
	height:20px;
}
/*using hover and animation in navigation items*/
nav ul li a:hover{
	background-color:blue;
	transform: scale(1.5);
}
/* title edited*/
 .contact{
 	text-align: center;
 }
 } 
 .first{
 	font-size: 18px;
 }
 section{
 	margin-left: 25%;
 	margin-right: 25%;
 	display: flex;
 	justify-content: space-between;
 	border-style: solid;/*adding border in section*/
 	padding: 2px;
 	padding-left: 25px;
 	border-width: 3px;
 	border-color: #d1d8e0;
 	padding-right: 25px;

 }
 /*form section edited*/
 article{
 	margin-left: 15%;
 	margin-right: 15%;
 	display: flex;
 	justify-content: flex-start;
 	border-style: solid;/*adding border in section*/
 	padding: 2px;
 	padding-left: 25px;
 	border-width: 3px;
 	border-color: #d1d8e0;
 	padding-right: 25px;
}
 /*editing form box*/
 input[type=text]{
 	width: 400px;
 	 padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*editing submit button*/
input[type=submit] {
    width: 400px;
    background-color: #0e1726;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* image source-https://www.bielefeldjasicher.de/images/speech.png*/
 article div img{
	width: 400px;
	padding: 110px;
}
iframe{
	width: 80%;
	padding: 20px;
	margin-left: 2%;
}

/*footer section started.*/
footer{
	padding: 1%;
	background: #0e1726;
	display: flex;
	justify-content: space-around;
	color: white;
}
/* css for responsive design*/
@media(max-width: 800px){
	body{
		width:100%;
}
	header{
 margin-top: -9%;
 margin-left: -3%;
}

nav ul{
	display: block;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}

.contact{
	text-align: left;
 	padding-left: 10px; 
 }
section{
    display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
 	width: 76%;
 	border-style: solid;/*adding border in section*/
 	border-width: 3px;
 	border-color: #d1d8e0;
 	margin: auto;
 }
 article{
 	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
 	border-style: solid;/*adding border in section*/
 	border-width: 3px;
 	border-color: #d1d8e0;
 	margin: 1%;
 }
 article div img{
	content: hidden;
	display: none;
}
 input[type=text]{
 	width: 200px;
 	 padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 200px;
    background-color: #0e1726;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
textarea{
	width: 200px;
	height: 100px;

}
iframe{
	margin: auto;
	padding: 2%;
	width: 95%;
	height: 400px;
}

footer{
	padding: 5%;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: -3%;
}
