body{ background: url(back1.jpg);
	/*adding backgroung image in the webpage*/
	/*https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg*/
	margin:0;/*making margin 0*/
	
}
/*header edited here*/
header{
	display: flex;/*displaying content in flex*/
	justify-content: space-between;/*justifying content in flex*/
	padding-top: 0%;/*padding at top*/
	background-color: #0e1726;/*adding backgroung colour to header*/
	margin-top: -2%;/*margin at top*/
} 
/*logo edited*/
header div img{
	width: 200px;/*width of image*/
	height: 200px;/*height of image*/
}
/*css in navigation bar*/
nav{
	background-color: #0e1726;/*navigation colour added*/
	margin-top: 7.5%;/*navigation margin*/
}
/*hiding dropdown content*/
nav div{
	display: none;/*hiding dropdown content*/
	content: hidden;
}
nav ul{
	display: flex;/*displyaing flex*/
	justify-content: flex-end;/*justifying content in flex*/
	list-style: none;/*list style set to none*/
	padding-left: 0;/*padding at kleft*/
	padding: 20px;
margin-bottom: 0px;/*margin at bottom*/
}
nav ul a{/*editing hyperlinked content*/
	text-decoration-line: none;
}
nav ul li a{
	text-decoration-line: none;/*text decoration style set to none*/
	color: #d1d8e0;/*adding colour to the text*/
	display: inline-block;/*displaying in block*/
	padding-right: 20px;
	border-radius: 3px;/*managing border radius*/
	margin-right: 20px;
	transition: transform 1s;/*transttion used in navigation bar*/
	width: 50px;
	height:20px;
}
/*using hover and animation in navigation items*/
nav ul li a:hover{
	background-color:blue;/*adding colour when hover*/
	transform: scale(1.5);/*text transform scale*/
}/*css for article used in HTML*/
article{
	font-size: 30px;	
}
/*section part decorated*/
section img{
	/*defining height and width of image*/
	width: 400px;
	height: 400px;
	border-radius: 49%;
	display:inline-block;/*displaying in inline block*/
	margin-right: auto;/*making margin to right auto*/
	margin-left: 1%;
	display: flex;/*displaying in flex left*/
	padding: 2%;
	transition: transform 1s;
}
/*section edited*/
section{
	display: flex;
	justify-content: flex-start;
}
/*side bar edited*/
 .sidebar{
	width: 250px;/*width for sidebar in px*/
	background-color: #0e1726;/*background colour for sidebar*/
	padding: 2%;/*sidebar padding done*/
	margin:2px;/*margin for sidebar*/
	color: white;/*colour of content of sidebar*/
	text-align: center;/*aligning content to center*/
	display: flex;/*displaying content in flex*/
	align-items: center;/*displaying item in center*/
}
/*content inside sidebar edited*/
.cnt{
	margin: 0 auto;/*setting magin as 0 auto*/
}
div h1{
	font-size: 55px;/*font size for h1*/
	font-style: italic;/*font style to italic*/
	margin-left: 40%;/*margin set to 40%*/
}
/* image in side bar updated*/
div img{
	width: 240px;/*setting image width*/
	height: 240px;/*setting image height*/
	border-radius: 20%;/*setting border radius to 20%*/
	margin:0 auto;/*setting magin as 0 auto*/
}
article{
    display: flex;/*displaying content in flex*/
	justify-content: flex-start;/*justfying flex content*/	
}
.intro{	
 	margin-left: 4%;/*margin for .intro*/
 	display: block;/*displaying content in block*/
 	font-size: 25px;/*font size set to 25px*/
 	padding:2%;/*padding set to 2%*/
 	transition: transform 1s;/*making transition for intro*/
}
 /* hovering .intro content*/
.intro:hover{
	background-color: #A9A9A9;/*background colour to intro when hover*/
    transform: scale(1);/*setting transition scale*/
}
.intro1{	
 	margin-left: 4%;/*margin for .intro1*/
 	display: block;/*displaying content in block*/
 	font-size: 25px;/*font size set to 25px*/
 	padding:2%;/*padding set to 2%*/
 }
/*footer section started.*/
footer{
	padding: 1%;
	background: #0e1726;/*adding colour to the footer*/
	display: flex;/*displaying content in flex*/
	justify-content: space-around;/*justifying flex content*/
	color: white;
}
/* css for responsive design*/
@media(max-width: 800px){
body{
	width:100%;/*body width to 100%*/
}
header{/*margin for the header in handheld*/
	margin-top: -9%;/*defining margin at top*/
	margin-left: -3%;
}
nav ul{
	display: none;/*hidding content of navigation*/
	list-style: none;/*listing style to none*/
	padding-left: 0;
	padding: 20px;/*padding on navigation*/
    margin-bottom: 0px;/*margin at the bottom*/
}
/*editing dropdown content */
nav {
	margin-top: 35%;/*margin at the top*/
	margin-right: 20%;/*margin at the right*/
}
nav div{
display: contents;/*displaying hidden content*/
}
nav ul a{
	text-decoration-line: none;/*text decoration to none*/
	padding: 20px;/*padding to 22 px*/	
}
nav div img{/*setting new css to div image*/
	height: 30px;/*height for menu*/
	width: 30px;/*width for menu*/
}
nav div a{
text-decoration-line: none;/*text decoaration to none*/
	color: #d1d8e0;	/*background colour for navigation*/
    text-decoration: none;/*text decoration to none*/
    display: block;/*content displayed as block*/
    font-size: 22px;/*fontsize to 22 px*/
    padding: 3%;/*padding set to 3%*/
}
.dropcontent {
	/*making content non visible unkess hover*/
    display: none;
    position: absolute;
     /*keeing position absolute*/
    background-color: #0e1726;/*dropdown backgroung colour*/
    min-width: 70px;/*min width for dropdown*/
    width: 100%; /*making width 100%*/
    min-height: 150px;/*min height for dropdown*/
     /*addding shadow to the box when hover*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);/*adding css shadow */
    padding: 21px;/*dropdown content padding*/
}
.dropcontent a:hover {background-color: grey;}
/*dropdown content editing completion*/
.dropdown:hover .dropcontent {
    display: block;/*displaying content in block*/
}
.dropdown {
    position: relative;/*position set to relative*/
    display: block;/*content displayed as inline block*/
}
/*dropdown content editing completion*/
section{
	width: 100%;/*setting section to 100%*/
	display: flex;/*displaying content in flex*/
	flex-direction: column;/*flex direction set to column*/
	padding: 0px;/*padding set to 0px*/
}
div h1{
	font-size: 30px;/*font size set to 30px*/
	font-style: italic;/*font style to italic*/
	margin-left: 2%;/*margin toward left*/
}
div img{
	width: 210px;/*width of image*/
	height: 210px;/*height of image*/
	margin-left: auto;/*margin to left as auto*/
}
/*side bar edited for responsive design*/
 .sidebar{
 	width: 96%;
	background-color: #0e1726;
	color: white;
	text-align: center;
	margin-top: 1;
	margin-left: 0;
	
}
article{
   display: flex;/*displaying content in flex*/
   flex-direction: column;/*flex direction set to column*/
}
   	/* editing .intro for responsive design*/
.intro{	
 	display: flex;/*displaying content in flex*/
 	flex-direction: row;/*flex direction set to row*/
 	flex-wrap: wrap;
 	font-size: 14px;/*font size set to 14 px*/
 	transition: transform 1s;/*transform set to 1s*/
}
.intro1{
 	visibility: hidden;/*making visibility hidden*/
 	display: none;/*hiding indro content*/
 }
footer{
	display:flex;/*displaying content in flex*/
	flex-direction: column;/*flex direction to the column*/
	flex-wrap: wrap;
	margin-left: -3%;
	padding: 5%;/*flex direction set to column*/
}
