body{
	background-color:grey;
	margin: 0;
}
/*header edited here*/
header{
	padding-top: 0%;
	background-color: #0e1726;
	margin-top: -2%;
}
header h3{
	color: #d1d8e0;
	font-size: 30px;
	text-align: none;
	padding left:30px;
	display: flex;
	padding-left: 17px;
	padding-top: 12px;
}
/*css in navigation bar*/
nav{
	background-color: #0e1726;

}
nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
nav ul li a{
	text-decoration-line: none;
	color: #d1d8e0;
	display: inline-block;
	padding-right: 20px;
	border-radius: 3px;
	margin-right: 20px;
	transition: transform 1s;
	width: 50px;
	height:20px;
}
/*using hover and animation in navigation items*/
nav ul li a:hover{
	background-color:blue;
	transform: scale(1.3);
}
/*section edited*/
section{
	display: flex;
	justify-content: flex-start;
}
/*side bar edited*/
 .sidebar{
	width: 250px;
	background-color: #0e1726;
	padding: 2%;
	margin:2px;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
}
/*content inside sidebar edited*/
.cnt{
	margin: 0 auto;
}
div h1{
	font-size: 55px;
	font-style: italic;
	margin-left: 40%;
}
/* image in side bar updated*/
div img{
	width: 240px;
	height: 240px;
	border-radius: 20%;
	margin:0 auto;
}
article{
    display: flex;
	justify-content: flex-start;	
}
 .intro{	
 	margin-left: 4%;
 	display: block;
 	font-size: 25px;
 	padding:2%;
 	transition: transform 1s;
 }
 /* hovering .intro content*/
.intro:hover{
	background-color: #A9A9A9;
    transform: scale(1.1);
}
 .intro1{	
 	margin-left: 4%;
 	display: block;
 	font-size: 25px;
 	padding:2%;
 	transition: transform 1s;
 }
 /* hovering .intro content*/
.intro1:hover{
	background-color: #A9A9A9;
    transform: scale(1.1);}
/*footer section started.*/
footer{
	padding: 1%;
	background: #0e1726;
	display: flex;
	justify-content: space-around;
	color: white;
}
/* css for responsive design*/
@media(max-width: 800px){
	body{
		width:100%;
	}
	header{
		margin-top: -9%;
		margin-left: -3%;
	}
	header h3{
	color: #d1d8e0;
	font-size: 30px;
	text-align: none;
	padding left:30px;
	display: flex;
}
nav ul{
	display: block;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
    margin-bottom: 0px;
}
section{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px;
}
div h1{
	font-size: 30px;
	font-style: italic;
	margin-left: 2%;
}
div img{
	width: 210px;
	height: 210px;
	border-radius: ;
	margin-left: auto;
}
/*side bar edited for responsive design*/
 .sidebar{
 	width: 96%;
	background-color: #0e1726;
	color: white;
	text-align: center;
	margin-top: 1;
	margin-left: 0;
	
}
article{
   display: flex;
   flex-direction: column;
   	}
   	/* editing .intro for responsive design*/
    .intro{	
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	font-size: 14px;
 	transition: transform 1s;
 }
 .intro1{
 	visibility: hidden;
 	display: none;
 }
footer{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: -3%;
	padding: 5%;
}
