body{
	background-color:grey;
	margin: 0;
}
/*header edited here*/
header{
	display: flex;
	justify-content: space-between;
	padding-top: 0%;
	background-color: #0e1726;
	margin-top: -2%;
}

/*css in navigation bar*/
nav{
	background-color: #0e1726;

}
nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
nav ul li a{
	text-decoration-line: none;
	color: #d1d8e0;
	display: inline-block;
	padding-right: 20px;
	border-radius: 3px;
	margin-right: 20px;
	transition: transform 1s;
	width: 50px;
	height:20px;
}
/*using hover and animation in navigation items*/
nav ul li a:hover{
	background-color:blue;
	transform: scale(1.5);
}
/*image souce-http://tech.eu/wp-content/uploads/2016/10/Tech.eu-Podcast-1024x400-1.jpg*/
section img{
width: 1518px;
height: 400px;

}
section{
	width: 100%;
}
article h1{
	font-size: 50px;
	text-align: center;

}
/*footer section started.*/
footer{
	padding: 1%;
	background: #0e1726;
	display: flex;
	justify-content: space-around;
	color: white;
}
/* css for responsive design*/
@media(max-width: 800px){
	body{
		width:100%;
	}
	header{
		margin-top: -9%;
		 margin-left: -3%;
	}
	
nav ul{
	display: block;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
section{
	margin-left: -3%;
}
section img{
width: 103%;
height: 50%;

}
section h1{
	font-size: 20px;
	text-align: center;

}
footer{
	padding: 5%;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: -3%;
}
