body{
	background-color:#fff;
	margin: 0;
}
/*header edited here*/
header{
	display: flex;
	justify-content: space-between;
	padding-top: 0%;
	background-color: #0e1726;
	margin-top: -2%;
}
header h3{
	color: #d1d8e0;
	font-size: 30px;
	text-align: none;
	padding left:30px;
	display: flex;
	padding-left: 17px;
	padding-top: 12px;
}
/*css in navigation bar*/
nav{
	background-color: #0e1726;
	margin-top: 7.5%;

}
/*hiding dropdown content*/
nav div{
	display: none;
	content: hidden;
}
nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
nav ul li a{
	text-decoration-line: none;
	color: #d1d8e0;
	display: inline-block;
	padding-right: 20px;
	border-radius: 3px;
	margin-right: 20px;
	transition: transform 1s;
	width: 50px;
	height:20px;
}
/*using hover and animation in navigation items*/
nav ul li a:hover{
	background-color:blue;
	transform: scale(1.5);
}
/*article edited*/
article{
	display: flex;
	justify-content: flex-start;
}
/*cover image edited*/
.cover{
	width: 90%;
	margin: 0 auto;
}
/*sideabr edited*/
.sidebar{
	width: 300px;
	height: 500px;
	background-color: #0e1726;
	margin-top: 3px;
	padding: 3px;
	color: white;
}
/*section parts edited from here*/
.topic{
	margin-left: 2%;
	font-size: 30px;
	margin-top: 2%;
	margin-bottom: 0;
}
section p {
	padding: 1%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2%;
	font-size: 18px;
}
/*wireframe images edited*/
section div{
	display: flex;
	justify-content: space-around;
	margin: 3%;
}
section div img{
	width: 400px;
	height: 400px;
}
section ul li{
	font-size: 17px;
}

/*footer section started.*/
footer{
	padding: 1%;
	background: #0e1726;
	display: flex;
	justify-content: space-around;
	color: white;
}
/* css for responsive design*/
@media(max-width: 800px){
	body{
		width:100%;
	}
	header{
    margin-top: -9%;
    margin-left: -3%;
	}

nav ul{
	display: none;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
/*editing dropdown content */
nav {
	margin-top: 35%;
	margin-right: 20%;
}
nav div{
display: contents;

}
nav ul a{
	text-decoration-line: none;
	padding: 20px;
	
}
nav div img{
	height: 50px;
	width: 30px;
}
nav div a{
text-decoration-line: none;
	color: #d1d8e0;	
    text-decoration: none;
    display: block;
    font-size: 22px;
}
.dropcontent {
/*making content non visible unkess hover*/
    display: none;
     /*keeing position absolute*/
    position: absolute;
    background-color: #0e1726;
    min-width: 75px;
    min-height: 200px;
    /*addding shadow to the box when hover*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px;
}
.dropcontent a:hover {background-color: grey;}
/*dropdown content editing completion*/
.dropdown:hover .dropcontent {
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
}
/*dropdown content editing completion*/
article{
width: 100%;
}
article div img{
	width: 300px;
	margin: auto;
}
section{
	width: 100%;
}
section h1 b{
	font-size: 18px;
}
section p {
	padding: 1%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2%;
	font-size: 12px;
	}
	section div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 3%;
	padding: 5px;
}
section div img{
	margin: 2%;
	width: 250px;
	height: 200px;
}
section div p{
	display: none;
	content: hidden;
}
section ul li{
	font-size: 10px;
}
footer{
	padding: 5px;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: -3%;
	padding: 5%;
}
