body{
	background-color:grey;
	margin: 0;
}
/*header edited here*/
header{
	padding-top: 0%;
	background-color: #0e1726;
	margin-top: -2%;
}
header h3{
	color: #d1d8e0;
	font-size: 30px;
	text-align: none;
	padding left:30px;
	display: flex;
	padding-left: 17px;
	padding-top: 12px;
}
/*css in navigation bar*/
nav{
	background-color: #0e1726;

}
nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding-left: 0;
	padding: 20px;
	text-decoration-line: none;
margin-bottom: 0px;
}
nav ul li a{
	text-decoration-line: none;
	color: #d1d8e0;
	display: inline-block;
	padding-right: 20px;
	border-radius: 3px;
	margin-right: 20px;
	transition: transform 1s;
	width: 50px;
	height:20px;
}
/*using hover and animation in navigation items*/
nav ul li a:hover{
	background-color:blue;
	transform: scale(1.5);
}
/*footer section started.*/
.topic{
	font-size: 30px;
	padding: 5px;
	padding-left: 30px;
}
/* atrticle content edited*/
article{
	display: flex;
	justify-content: flex-start;
	margin-left: 7%;
	padding: 0.5%;
}
a{
	text-decoration-line: none;
    color: black;
}
/* div content edited*/
.text{
	padding-left: 20px;
	margin-top: 20px;

}
/*img edited*/
a img{
	width: 55px;
	height: 55px;
	padding: 3px;
	margin-left: 5%;
	border-radius: 20%;
}
footer{
	padding: 1%;
	background: #0e1726;
	display: flex;
	justify-content: space-around;
	color: white;
}
/* css for responsive design*/
@media(max-width: 800px){
	body{
		width:100%;
	}
	header{
		margin-top: -9%;
		margin-left: -3%;
	}
	header h3{
	color: #d1d8e0;
	font-size: 30px;
	text-align: none;
	padding left:30px;
	display: flex;
}
nav ul{
	display: block;
	list-style: none;
	padding-left: 10;
	padding: 20px;
	text-decoration-line: none;
	text-decoration-style: none;
    margin-bottom: 0px;
}
/* h1 edited in responsive design*/
h1{
font-size: 20px;
}
/*topic edited in responsive design*/
.topic{
	font-size: 15px;
	padding: 5px;
}
.text{
	padding-left: 5px;
	margin-left: -9%;
}
.pic{
	margin: 1%;
}
/* atrticle content edited for responsive design*/
article {
	display: flex;
	flex-direction: column;
	margin-left: 7%;
	padding: 0.5%;
}

footer{
	padding: 5px;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: -3%;
	padding: 5%;
}
